encode:
  source_dir: mp3
  encoded_dir: encode
  delay_scan: 30
  max_job: 3
  bitrate: 192
server:
  -
    port: 8080
  -
    port: 8082
    ssl: true
    certificate: ca.crt
    key: ca.key
redmine:
  site: "http://monsite:port"
  user: user
  password: pass
  project_id: 1
