encode:
  source_dir: mp3
  encoded_dir: encode
  delay_scan: 30
  max_job: 3
  bitrate: 192
upload:
  max_request_size_in_bytes: 42991616
  max_file_size_in_bytes: 31457280
  dst_folder: uploads/
  allowed_extensions: 
    - '.mp3' 
    - '.wav'
server:
  -
    port: 8080
  -
    port: 8082
    ssl: true
    certificate: ca.crt
    key: ca.key
redmine:
  site: "http://monsite:port"
  user: user
  password: pass
  project_id: 1
