/* Google fonts imported */
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../images/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('../../images/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../images/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../images/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../images/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../images/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../images/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../images/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../images/MaterialIcons-Regular.woff) format('woff'),
       url(../../images/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* jukebox specifics start here */
footer{
	padding: 4px;
	text-align: right;
	font-style: italic;
	font-size: 12px;
}

/* fonts and colors */
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #383838;
	margin: 50px auto;
}

@media screen and (max-width: 780px) {
	body { margin: 0 auto; }
}

.bg-color-lightest {
	background-color: white;
}

.selected,
.jukebox-slider:hover .jukebox-slider-handle,
div.jukebox-sidepanel-wrapper .list-element:active,
.jukebox-tabs-active .list-element {
	background-color: #ffbf70;
	color: black;
}

.jukebox-topbar-wrapper a:hover,
.jukebox-activity-on,
input[type=text],
input[type=password],
input[type=button],
input[type=submit],
select,
.jukebox-volume-slider,
.jukebox-progressbar-wrapper,
.bg-color-light,
.jukebox-main-wrapper,
.jukebox-mainpanel-wrapper,
.roweven,
div.jukebox-search-pagelist {
	background-color: #202020;
	color: #6ae9af;
}

.rowodd {
	background-color: #292929;
	color: #6ae9af;
}

footer,
.jukebox-slider-handle,
.jukebox-progressbar,
.bg-color-dark,
.song-list th,
.song-list th.song-list-controls:hover,
div.song-list thead {
	background-color: #6ae9af;
	color: #202020;
}

tr:hover {
	background-color: #393939;
}

.jukebox-search-table th:hover,
.button:hover i,
.toggle-category-container-button:hover i,
.jukebox-song-artist:hover,
.jukebox-song-album:hover,
input[type=text]:focus,
input[type=password]:focus,
select:focus,
.dark-hover,
.jukebox-sidepanel-wrapper .list-element:hover,
td a:hover,
td a:hover i,
th a:hover i,
div.jukebox-search-page-slider a:hover i {
	background-color: #ffbf70;
	color: #a75c00;
}

.jukebox-topbar-wrapper a:hover,
.button:hover i,
.toggle-category-container-button:hover i,
.jukebox-song-artist:hover,
.jukebox-song-album:hover,
.dark-hover,
td a:hover,
td a:hover i,
th a:hover i,
div.jukebox-search-page-slider a:hover i {
	cursor: pointer;
	border-radius: 2px;
}

.bg-color-darkest {
	background-color: #ffbf70;
	color: #a75c00;
}

.bg-red,
div.jukebox-sidepanel-wrapper .list-delete-icon:hover {
	background-color: #E04144;
	color: black;
}

/* basic element types setups */
a:link,
a:visited,
a:active,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}

td.left-text a {
	display: inline-block;
	padding: 1px;
}

/* Sliders */
.jukebox-slider-handle{
cursor: move;
position: absolute;
top: -5px;
width: 10px; /* Must match search.js slider.handleLength = 10; */
height: 20px;
margin-left: 0;
}

.jukebox-volume{
	text-align: center;
}

.jukebox-slider{
position: relative;
display: inline-block;
height: 10px;
margin: 3px 0;
border: 1px solid;
border-radius: 2px;
}

.jukebox-volume-slider {
	width: 120px;
margin: 5px 0;
}

input[type=text],
input[type=password],
input[type=button],
input[type=submit],
select {
	border: 1px solid;
	border-radius: 2px;
}

/* main layout */

div.jukebox-main-wrapper {
	width: 800px;
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
}


div.jukebox-mainpanel-wrapper {
	box-sizing: border-box;
	float: left;
	width: 627px;
	min-height: 507px;
	border-left: 1px solid;
}

.jukebox-droppable-hover {
	border-bottom: 5px solid #a75c00;
	background-color: transparent;
}

/* top bar */

div.jukebox-topbar-wrapper {
	box-sizing: border-box;
	height: 20px;
	font-size: 75%;
	overflow: hidden;
}

div.jukebox-topbar-wrapper i {
	font-size: 18px;
}

div.jukebox-topbar-wrapper .left {
	margin: 3px 3px 0 2px;
	float: left;
}

div.jukebox-topbar-wrapper .left-icon {
	padding-left: 3px;
	padding-top: 1px;
	float: left;
}

div.jukebox-topbar-wrapper .right {
	margin: 3px 6px 0 6px;
	float: right;
}

div.jukebox-topbar-wrapper .right-icon {
	padding-top: 1px;
	float: right;
}

/* play controls */

div.jukebox-playcontrols-wrapper {
	box-sizing: border-box;
	float: left;
	width: 180px;
	height: 95px;
	line-height: 0;
	padding: 5px 0 0 0;
	text-align: center;
}

.button-skip i {
	font-size: 48px;
}

.button-stop i,
.button-play i {
	font-size: 60px;
}

/* current song */
div.jukebox-currentsong-wrapper {
	box-sizing: border-box;
	float: left;
	width: 620px;
	min-height: 95px;
}

.jukebox-currentsong-wrapper .coverart-wrapper {
	float: left;
	box-sizing: border-box;
	height: 100px;
	width: 100px;
}

.jukebox-currentsong-wrapper .songinfos-wrapper {
	float: left;
	box-sizing: border-box;
	height: 100%;
	width: 520px;
	text-align: center;
}

.coverart-wrapper {
	position: relative;
}

.coverart-wrapper img {
    position:absolute;
    top: 0;
    bottom: 0;
	left: 0;
	right: 0;
    margin:auto;
	width: 77px;
	height: 77px;
}

.song-title {
	font-size: 165%;
	margin-top: 5px;
}

.song-title-details {
	font-size: 110%;
	margin-top: 13px;
}

.song-title-details span {
	padding: 1px;
}

.song-progress {
	margin: 8px 0 0 0;
}

/* Progressbar */
.jukebox-progressbar-wrapper {
	display: inline-block;
	width: 350px;
	height: 10px;
	border: 1px solid;
	border-radius: 2px;
}

.jukebox-progressbar {
	display: block;
	height: 100%;
	width: 0; /* Not 100% at start */
}

.song-progress .time {
	font-size: 90%;
}

/* Side panel */

div.jukebox-sidepanel-wrapper {
	box-sizing: border-box;
	clear: left;
	float: left;
	width: 173px;
	min-height: 400px;
}


div.jukebox-sidepanel-wrapper .list-search-input {
	text-align: right;
	padding: 5px 3px 5px 0px;
	clear: both;
	margin-left: 5px;
	border-left: 1px solid;
	background-color: #393939;
}

div.jukebox-sidepanel-wrapper .list-search-input input[type=text] {
	font-size: 12px;
}

div.jukebox-sidepanel-wrapper .list-search-input input[type=button],
div.jukebox-sidepanel-wrapper .list-search-input select {
	font-size: 10px;
}


div.jukebox-sidepanel-wrapper .list-search-input input[type=text] {
	width: 157px;
}

div.jukebox-sidepanel-wrapper .list-element {
	white-space: nowrap;
	overflow: hidden;
	clear: both;
	display: block;
	float: left;
	width: 173px;
	height: 30px;
}

div.jukebox-sidepanel-wrapper .removable-list-element {
	width: 157px;
}

div.jukebox-sidepanel-wrapper .list-delete-icon {
	display: block;
	float: right;
	height: 30px;
}

div.jukebox-sidepanel-wrapper .list-delete-icon i {
	font-size: 16px;
	margin-top: 6px;
}

div.jukebox-sidepanel-wrapper .list-element i {
	vertical-align: middle;
	margin: 3px 0 0 4px;
	float: left;
}

div.jukebox-sidepanel-wrapper .list-element .list-title {
	display: block;
	padding: 6px 0px 0px 32px;
}

div.jukebox-sidepanel-wrapper  .jukebox-tab-list-search .list-element {
	font-size: 12px;
	height: 22px;
}

div.jukebox-sidepanel-wrapper .jukebox-tab-list-search .list-element .list-title {
	padding: 4px 0px 0px 22px;
}

div.jukebox-sidepanel-wrapper .jukebox-tab-list-search .list-element i {
	font-size: 16px;
}


div.jukebox-sidepanel-wrapper .jukebox-tab-list-search .list-delete-icon {
	height: 22px;
}

div.jukebox-sidepanel-wrapper .jukebox-tab-list-search .list-delete-icon i {
	margin-top: 3px;
}

div.list-separator {
	clear: both;
	width: 100%;
	height: 13px;
}


div.jukebox-sidepanel-wrapper .list-category {
	clear: both;
	display: block;
	float: left;
	width: 173px;
	height: 20px;
	font-size: 90%;
}

div.jukebox-sidepanel-wrapper .list-category i {
	vertical-align: middle;
	margin: 0;
	float: left;
	font-size: 120%;
}

div.jukebox-sidepanel-wrapper .list-category .list-title {
	display: block;
	padding: 1px 0px 0px 17px;
}

/* tab content */

.jukebox-tab-title {
	font-size: 24px;
	padding: 12px;
}

.jukebox-debug-tab {
	font-size: 12px;
}

/* jukebox search */

p.page-title {
	font-size: 28px;
	display: block;
	float: left;
	padding: 10px 0 10px 6px;
}

div.jukebox-search-slider {
	display: inline-block;
}

div.jukebox-search-page-slider {
	clear: both;
	text-align: center;
}
div.page-count {
	font-size: 12px;
	float: right;
	margin: 2px 5px 2px 0px;
}

div.jukebox-search-page-slider i {
	font-size: 18px;
}

div.jukebox-search-page-slider .slider {
	width: 506px;
	margin-bottom: 0;
}

div.jukebox-search-page-slider input[type=range]::-moz-range-track {
  background: #878787;
}

.song-list {
	font-size: 14px;
}

.song-list th {
	border-right: 1px solid;
}

.jukebox-search-table th:hover {
	cursor: pointer;
}

.song-list th.jukebox-search-sortcol {
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
}

.song-list th.jukebox-search-sortasc {
	background-image: url(../../images/up.gif);
}

.song-list th.jukebox-search-sortdesc {
	background-image: url(../../images/down.gif);
}

.song-list td, .song-list th {
	max-width: 200px;
	padding: 5px 4px 5px 4px;
	width: auto;
	min-width: 5px;
	text-align: left;
	word-wrap: break-word;
	white-space: normal;
	vertical-align: middle;
}

.song-list table {
	width: 100%;
	border-collapse: separate;
}

.add-to-play-queue-top,
.add-to-play-queue-rand,
.add-to-play-queue-bottom {
	display: block;
	float: left;
	width: 24px;
	height: 24px;
}
th.song-list-artist {
	width: 110px;
	max-width: 110px;
}

th.song-list-track-number {
	width: 20px;
	max-width: 20px;
}

th.song-list-duration {
	width: 41px;
	max-width: 41px;
}

th.song-list-controls,
td.song-list-controls {
	width: 72px;
	padding: 0;
}

div.song-list td,
div.song-list th {
	text-align: center;
}

div.song-list .left-text {
	text-align: left;
}

.jukebox-search.song-list {
	margin: 15px 0;
}

