@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("../../images/hype/opensans.ttf") format('truetype');
}

.jukebox-hype{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
}



/* buttons */

.jukebox-hype-btn, .jukebox-hype-btn-pushed {
	background-color: #B0ACA4;
    background-image: -moz-linear-gradient(center top , #CECAC2, #928E86);
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #928E86;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-repeat: no-repeat;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    padding: 4px;
}
.jukebox-hype-btn:hover, .jukebox-hype-btn:active, .jukebox-hype-btn.active, .jukebox-hype-btn.disabled, .jukebox-hype-btn[disabled], .jukebox-hype-btn-pushed:hover, .jukebox-hype-btn-pushed:active, .jukebox-hype-btn-pushed.active, .jukebox-hype-btn-pushed.disabled, .jukebox-hype-btn-pushed[disabled] {
   background-color: #928E86;
}
.jukebox-hype-btn:hover, .jukebox-hype-btn-pushed:hover {
    background-position: 0 -15px;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #747068;
    text-decoration: none;
}
.jukebox-hype-btn:focus, .jukebox-hype-btn-pushed:focus {
    outline: 1px dotted #666666;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
}
.jukebox-hype-btn.active, .jukebox-hype-btn:active, .jukebox-hype-btn-pushed {
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
}

.jukebox-hype-btn.primary {
    background-color: #0064CD;
    background-image: -moz-linear-gradient(center top , #049CDB, #0064CD);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.jukebox-hype-btn.disabled {
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}
.jukebox-hype-btn[disabled] {
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}


.jukebox-hype a:link,
.jukebox-hype a:active,
.jukebox-hype a:visited,
.jukebox-hype a:hover{
text-decoration: none;
font-weight: bold;
color: #4d67b1;
}
.jukebox-hype a:hover{
color: #a21919;
}

#player {
	width: 435px;
}

div.jukebox-hype-main{
	background: url("../../images/hype/soft_wallpaper.png");
	border: 2px solid gray;
	border-radius:5px;
	width: 435px;
}

div.jukebox-hype-main-titlebar {
	background: url("../../images/hype/wood.png");
	font-size: 80%;
	margin-bottom: 7px;
}

td.jukebox-hype-main-titlebar-title {
	font-size: 100%;
	font-weight: bold;
	padding-left: 6px;
}

table.jukebox-hype-main-titlebar{
	width: 100%;
	height: 25px;
}

table.jukebox-hype-main-current-song {
	width: 100%;

}

table.jukebox-hype-main-current-song-infos {
	width: 100%;
}

td.jukebox-hype-main-current-song-infos {
	padding-right: 10px;
	padding-top: 10px;
	vertical-align: top;
}

tr.jukebox-hype-main-current-song-infos-text {
	height: 140px;
}

td.jukebox-hype-main-current-song-cover {
	width: 200px;
	vertical-align: middle;
	text-align: center;
}

div.jukebox-hype-main-current-song-cover-wrapper {
	width: 180px;
	height: 180px;
	margin-left: auto;
	margin-right: auto;
	background-color: gray;
}
img.jukebox-hype-main-current-song-cover {
	width: 180px;
	height: 180px;
}

div.jukebox-hype-song-title {
	font-size: 150%;
	font-weight: bold;
	text-align: center;
}

div.jukebox-hype-song-artist {
	font-size: 100%;
	font-weight: normal;
	text-align: center;
}

div.jukebox-hype-song-album {
	font-size: 80%;
	font-style: italic;;
	font-weight: normal;
	text-align: center;
}




table.jukebox-hype-main{
width: 100%;
height: 30px;
margin-top: 12px;
margin-bottom: 12px;
}
.jukebox-hype-activity{
width: 4px;
background-color: transparent;
}
.jukebox-hype-activity-on{
background-color: gray;
}

.jukebox-hype-controls{
	text-align: center;
	vertical-align: middle;
}
.jukebox-hype-controls a{
/*float: left;
display: block;
height: 30px;
background-repeat: no-repeat;*/
cursor: pointer;
}

.jukebox-hype-stream-play-icon {
	background: url("../../images/hype/play.png") no-repeat center;
	width: 60px;
	height: 60px;
	display: block;
}

.jukebox-hype-stream-play {
	border-radius: 35px;
}

.jukebox-hype-stream-stop-icon {
	background: url("../../images/hype/stop.png") no-repeat center;
	width: 60px;
	height: 60px;
	display: block;
}

.jukebox-hype-stream-stop {
	border-radius: 35px;
}

.jukebox-hype-next-button-icon {
	background: url("../../images/hype/next.png") no-repeat center;
	width: 37px;
	height: 30px;
	display: block;
}
.jukebox-hype-previous-button-icon {
	background: url("../../images/hype/previous.png") no-repeat center;
	width: 37px;
	height: 30px;
	display: block;
}



/* Progressbar */
.jukebox-hype-progressbar-container{
width: 60px;
}
.jukebox-hype-progressbar-wrapper{
height: 12px;
background-color: white;
border-radius: 25px;
border: 1px dashed gray;
}
.jukebox-hype-progressbar{
height: 100%;
width: 0; /* Not 100% at page load */

/* Côté gauche arrondi */
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;

/* Color ! */
background-color: rgb(43,194,83);
background-image: -webkit-gradient(
linear,
left bottom,
left top,
color-stop(0, rgb(43,194,83)),
color-stop(1, rgb(84,240,84))
);
background-image: linear-gradient(
center bottom,
rgb(43,194,83) 30%,
rgb(84,240,84) 70%
);
}

.jukebox-hype-song-time{

}
.jukebox-hype-song{
font-size: 13px;
}
.jukebox-hype-song-artist{

}
.jukebox-hype-song-album{

}
.jukebox-hype-song-title{

}

.jukebox-hype-volume{
width: 90px; /* 20+5+60 */
vertical-align: bottom;
padding-bottom: 7px;
}
.jukebox-hype-volume-ico{
background-image: url(data:image/gif;base64,R0lGODlhFAAUAP8AAB5s6whe6Rtq6FCI4g1j7BVs926h8hxq6Q9i6B1r6k+H4ZWs0LfB0m+V0neZ0SRn0YGg0dzWzN/YzbK9zd7Xzt7XzNLRz2qPzObh2QlZ2gta2R9m2EF72Ojk2/7x2x5m27jF2uXh2uDb0zRx1L/H09XU0hxi0+Xf1ouo15au1jp11A1a1i1frzZlsDxnrFx6rJ6lsC9hskNusy1fsS1gsZKaqICIlXF/mFNaZlBojXmIn4eSo3WIpzxioYeRorW1tE58xra8x8TEwlB9xVSByQ5WykJ3zKOyyd3WyU56wpelvKKsvaKptmeGuX+Xvkp4wVV+wTVqv42hwFuM3AZf7kmJ7hBk7R9t7QBY7wFd8Api8BNn7wBZ8Nbf6wBY7Blp6xlq6wxi7Bxr7B1s7A1i7Btr7ABc9RVr9gFe9A9n9AZi9wBf+67L+wBe+AVi+G6h8aTB8Qxk8Bhr8AJe8gBb8wdh8wxk8m6g8lCI41GJ4y5y4kOA42SV4ydw5V2R5RFi5BJi5K7A3RNg3o6s3FKI3Rxm3lOJ4Qxe4g1e3x5o3xpp6hpq6h5s6Q1j6hxq6gxj6xZo6xxr6gde6w9h5hBh5gBU5gle5hBi5mWX5ypy6FKK5kmG5/8A/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAJwALAAAAAAUABQAAAj8ADkJHEiwoIeCCBMGgiIioUOBPda4oPAwIYM+apI8PMJnYBeBJD5ogJGwRoZNApcUmSAQQhsZBTsQQhTHkMAGc/QItPDAEicDBu68URHmSiM8AkO0kIRC4J46NgJIDbAl0gECeQY6MTNF4I1JiQCIBeDoSwICAwbC4TJE4I5LYgTIFaAITIJHCgaywQJEoA9KY84UGFxm0dW0AlPQISJQB4JCMWbQYPFHDiMyiDk9yYJJYBUtOCRUiIBkkCBIVvJyUoIAEAhOJ0a4CVJQSBQ0mgQ6qORHIJMVJhJi4GBkII+Bmag0efgD4Qs7G0pULJgjzaEF0wte8CIl+/SAADs=);
display: block;
width: 20px;
height: 20px;
float: left;
margin-right: 5px;
}
.jukebox-hype-volume-slider{
width: 60px;
height: 10px;
margin-top: 6px;
background-color: #ccc;
float: left;
}
.jukebox-hype-volume-handle{
width: 10px;
height: 20px;
margin-left: 0;
background-color: #888;
cursor: move;
top: -5px;
}

td.jukebox-hype-main-titlebar-refresh-button {
	width: 20px;
	vertical-align: top;
}

td.jukebox-hype-main-titlebar-autorefresh-checkbox {
	width: 10px;
}

input.jukebox-hype-refresh-button {
	border: none;
	background: url("../../images/hype/refresh.png") no-repeat;
	width: 20px;
	height: 20px;
}

.jukebox-hype-listening{
width: 25px;
}
.jukebox-hype-listening-ico{
height: 10px;
background-image: url(data:image/gif;base64,R0lGODlhCgAKAN0AAFNTUz8/P1JSUmZmZqysrHh4eEBAQHBwcEpKSmJiYmtra2hoaFZWVlFRUURERF5eXlxcXFdXV8HBwcTExLW1tbe3t9zc3OHh4czMzNLS0oSEhJeXl4CAgIODg6Wlpa+vr5qampycnP8A/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACIALAAAAAAKAAoAAAY3QJFQdLEMjxkNR3IUfg6HUFNEGAw2U0wCQplOHgzCsVKIIBACBUjkcQTeb4Oh0GkA7njBYnoMAgA7);
background-position: center;
background-repeat: no-repeat;
}
.jukebox-hype-listening-count{
height: 15px;
text-align: center;
}

.jukebox-hype-expand-collapse{
	vertical-align: bottom;
	text-align: center;
	width: 90px;
}

.jukebox-hype-expand-button,
.jukebox-hype-collapse-button{
display: block;
width: 15px;
height: 15px;
margin-right: 2px;
}

.jukebox-hype-expand-button-icon {
	display: block;
	background: url("../../images/hype/playlist.png") no-repeat;
	width: 25px;
	height: 25px;
}
.jukebox-hype-expand-button, .jukebox-hype-collapse-button {
	width: 25px;
	height: 25px;
}

/*
.jukebox-hype-expand-button {
background-image: url(data:image/gif;base64,R0lGODlhDwAPALsAABpq61XU/9fX18XFxbi4uMvLy8rKytra2tvb287Ozs/Pz/8A/wAAAAAAAAAAAAAAACH5BAEAAAsALAAAAAAPAA8AAAQ1cMlJ6wI46yzD/oGEfNsxeSQQTkIKCBW6rZRCJtYiY3RlbIVcJ9OzDDID4UmlnBAAhOYpFwEAOw==);
}
.jukebox-hype-expand-button:hover{
background-image: url(data:image/gif;base64,R0lGODlhDwAPALsAAOWVFKorACgoKEdHRzo6OiUlJSQkJDQ0NDU1NTAwMDExMQD/AAAAAAAAAAAAAAAAACH5BAEAAAsALAAAAAAPAA8AAAQ1cMlJ6wI46yzD/oFkfFsxeSQQTkIKCBW6rVRCKtYiY3SFbIdcJ9OzEDIE4UmlnAwAg+YpFwEAOw==);
}
.jukebox-hype-collapse-button{
background-image: url(data:image/gif;base64,R0lGODlhDwAPALsAABpq61XU/9fX18XFxbi4uMvLy8rKytra2tvb287Ozs/Pz/8A/wAAAAAAAAAAAAAAACH5BAEAAAsALAAAAAAPAA8AAAQzcMm5Ar2UAIJxAFY3DUA5iNJXhl1RvoaoviyVvLji4fQl8DgBZQZkHYA8RAqJCzF5qE4EADs=);
}
.jukebox-hype-collapse-button:hover{
background-image: url(data:image/gif;base64,R0lGODlhDwAPALsAAOWVFKorACgoKEdHRzo6OiUlJSQkJDQ0NDU1NTAwMDExMQD/AAAAAAAAAAAAAAAAACH5BAEAAAsALAAAAAAPAA8AAAQzcMm5Ar10gIFxAFY3EUBJiNJXht1RvoioviylvHji4fQl8DgBZQZkFYA8QwqJCzF5qE4EADs=);
}*/

.jukebox-hype-playqueue{

}
.jukebox-hype-playqueue-content{
display: none;
border-top: 1px solid black;
}
.jukebox-hype-fullplayer .jukebox-hype-playqueue-content{
display: block;
}

.jukebox-hype-playqueue-content table{
width: 100%;
}

/* BLUE theme specifics */
.jukebox-hype-theme-blue{
border: 1px solid blue;
}

