#notifications{
position: fixed; /* Notifications are visible even if there is a vertical scrollbar */
top: 0;
left: 0;
z-index: 1000;
width: 100%;
}
.notification-wrapper{
position: relative;
}
.notification-wrapper-debug,
.notification-wrapper-info,
.notification-wrapper-warning,
.notification-wrapper-error,
.notification-wrapper-fatal{
position: relative;
border-style: solid;
border-width: 2px;
border-top: 0;
padding-top: 5px;
padding-bottom: 2px;
font-size: 100%;
font-weight: bold;
color: white;
}
.notification-wrapper-debug{
background-color: #999999;
border-color: #444444;
}
.notification-wrapper-info{
background-color: #4EA5CD;
border-color: #3B8EB5;
}
.notification-wrapper-warning{
background-color: #EAAF51;
border-color: #D99A36;
}
.notification-wrapper-error{
background-color: #DE4343;
border-color: #C43D3D;
}
.notification-wrapper-fatal{
background-color: #660000;
border-color: black;
}

.qq-upload-button input{
height: 30px; /* Height of the button, so that pointer is ok on all height. 100% doesn't work */
}
